<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Livraria UMa</title>
</head>
<body>
    <header>
        <nav>
            <img src="img/news_logo.png">
        </nav>
        <a href="HTMLCSS.html">HTML-CSS</a>
        <a href="BootstrpGridSystem.html">Bootstrap Grid System</a>
        <a href="JavaScript.html">JavaScript</a>
    </header>

    <h1>Bem-vindo à Livraria da UMa</h1>

    <table>
        <tr>
            <td>
               <u>A</u>
            </td>
            <td>
            </td>
            <td>
                <i>É</i>
            </td>
            <td>
            </td>
        </tr>
        <tr>
            <td>
            </td>
            <td>
                <b>UMa</b>
            </td>
            <td>
            </td>
            <td>
                Nossa!
            </td>
    </table>

    <section>
        <article>
            <h2>Livro 1</h2>
            <img src="../public/images/livro1.jpg">
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Et doloribus, magni non necessitatibus saepe omnis rerum cupiditate, aperiam quia, laborum sed ullam. Aut nam maiores hic, tempore consectetur tenetur esse.</p>
            <iframe   
                src="https://www.youtube.com/embed/A-LImq5aKv8" 
                title="The biggest comeback in Rocket League history"
                width="100%"
                height="1080"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                allowfullscreen
                >
            </iframe>
            <button>Adicionar Carrinho</button>
        </article>
        <article>
            <h2>Livro 2</h2>
            <img src="../public/images/livro2.jpg">
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Et doloribus, magni non necessitatibus saepe omnis rerum cupiditate, aperiam quia, laborum sed ullam. Aut nam maiores hic, tempore consectetur tenetur esse.</p>
            <iframe 
                src="https://www.youtube.com/embed/5zETx3ihB1I" 
                title="Maneiras de comer chocolates & namoradas de infância | watch.tm 40"
                width="100%"
                height="1080"
                frameborder="0" 
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                allowfullscreen>
            </iframe>
            <button>Adicionar Carrinho</button>
        </article>
        <article>
            <h2>Livro 3</h2>
            <img src="../public/images/livro3.jpg">
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Et doloribus, magni non necessitatibus saepe omnis rerum cupiditate, aperiam quia, laborum sed ullam. Aut nam maiores hic, tempore consectetur tenetur esse.</p>
            <iframe 
                src="https://www.youtube.com/embed/2hfPVBDMB-o" 
                title="Stable Video AI Just Got Supercharged! - For Free!"
                width="100%"
                height="1080""
                frameborder="0" 
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                allowfullscreen>
            </iframe>
            <button>Adicionar Carrinho</button>
        </article>
        <article>
            <h2>Livro 4</h2>
            <img src="../public/images/livro4.jpg">
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Et doloribus, magni non necessitatibus saepe omnis rerum cupiditate, aperiam quia, laborum sed ullam. Aut nam maiores hic, tempore consectetur tenetur esse.</p>
            <iframe 
                src="https://www.youtube.com/embed/XCChlIf5y-w" 
                title="Resumo | Luton Town 1-2 Man United | Premier League 23/24"
                width="100%"
                height="1080""
                frameborder="0" 
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                allowfullscreen>
            </iframe>
            <button>Adicionar Carrinho</button>
        </article>
        <article>
            <h2>Livro 5</h2>
            <img src="../public/images/livro5.jpg">
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Et doloribus, magni non necessitatibus saepe omnis rerum cupiditate, aperiam quia, laborum sed ullam. Aut nam maiores hic, tempore consectetur tenetur esse.</p>
            <iframe 
                src="https://www.youtube.com/embed/0obeWBYSES0" 
                title="SIDEMEN ABANDONED IN IRELAND CHALLENGE"
                width="100%"
                height="1080""
                frameborder="0" 
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                allowfullscreen>
            </iframe>
            <button>Adicionar Carrinho</button>
        </article>
        <article>
            <h2>Livro 6</h2>
            <img src="../public/images/livro6.jpg">
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Et doloribus, magni non necessitatibus saepe omnis rerum cupiditate, aperiam quia, laborum sed ullam. Aut nam maiores hic, tempore consectetur tenetur esse.</p>
            <iframe 
                src="https://www.youtube.com/embed/hRRQDWYnZL4" 
                title="Resumo alargado | Man City 1-1 Chelsea | Premier League 23/24"
                width="100%"
                height="1080""
                frameborder="0" 
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                allowfullscreen>
            </iframe>
            <button>Adicionar Carrinho</button>
        </article>
        <article>
            <h2>Livro 7</h2>
            <img src="../public/images/livro7.jpg">
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Et doloribus, magni non necessitatibus saepe omnis rerum cupiditate, aperiam quia, laborum sed ullam. Aut nam maiores hic, tempore consectetur tenetur esse.</p>
            <iframe 
                src="https://www.youtube.com/embed/ruIYjEKIO38" 
                title="Resumo | Brentford 1-4 Liverpool | Premier League 23/24"
                width="100%"
                height="1080""
                frameborder="0" 
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                allowfullscreen>
            </iframe>
            <button>Adicionar Carrinho</button>
        </article>
    </section>

    <div>
        <footer>
            Universidade da Madeira 2023-2024
        </footer>
    </div>
</body>
</html>