<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Exercício JS</h1>

    <div>
        <button onclick="printNewCommer()">stringTemplate</button>
        <button onclick="compareNumbers()">comparações</button>
        <button onclick="giveTime()">horas</button>
        <button onclick="divideString()">arrayManip</button>
        <button onclick="somaSimples()">somaNum</button>
        <button onclick="somaArrays()">somaArrays</button>
        <button onclick="pilotoFormulaUm()">formulaUm</button>
    </div>
    
    <script src="../public/js/javascriptExe.js"></script>
</body>
</html>